* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

.tab-button {
  padding: 10px 20px;
  cursor: pointer;
  background: #f0f0f0;
  border: none;
  border-radius: 6px;
  transition: 0.3s;
  font-weight: bold;
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-button.active {
  background-color: #333;
  color: white;
}

.tab-content {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 6px;
  background-color: #fafafa;
}


.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.toast {
  min-width: 220px;
  max-width: 300px;
  padding: 12px 16px;
  border-radius: 6px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  opacity: 0;
  animation: fadeInOut 3s ease-in-out forwards;
  font-family: sans-serif;
  font-size: 14px;
}

.toast.success {
  background-color: #2e7d32;
}

.toast.error {
  background-color: #c62828;
}

.toast.info {
  background-color: #1565c0;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  margin-left: 12px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  10%, 90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10%);
  }
}

input{
   padding: 10px 20px;
   border-radius: 6px;
}




.thread-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #f9f9f9;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.comment-input,
.reply-input {
  padding: 8px;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  padding: 8px 12px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment {
  margin-left: 20px;
  margin-top: 15px;
  padding-left: 10px;
  border-left: 2px solid #ddd;
}

.comment-text {
  font-size: 15px;
  margin-bottom: 5px;
}

.reply-button {
  margin-top: 5px;
  color: #2563eb;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  text-decoration: underline;
}

.reply-input-group {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.replies {
  margin-top: 10px;
}
